@model IEnumerable<GameOdd>
@{
    ViewData["Title"] = "Bets Page";
}


<div class="container-fluid" id="betGrid">
    @foreach (GameOdd obj in Model)
    {
        <div id="betGridItem">
            <partial name="_GameOdd" model="obj" />
        </div>
    }
</div>

