@model List<Wager>

@{
    var active = Model.FindAll(m => m.completed == true);
}

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeIndexStyle.css" asp-append-version="true" />
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>

    <section class="hero-section">
        <h1 class="animated-header">sports_betting_app</h1>
        <h2>Enhance your game now with strategy and analysis.</h2>
        <a href="UserRegistration" class="btn btn-primary btn-lg">Register/Login</a>
            <div class="row">
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Analysis
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            Access insights analysis to make informed bets.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Strategies
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            Discover and improve upon your past betting moves.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Community
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            See what other users are currently betting on.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="latest-wagers">
        <div class="container my-5">
            <h1>Latest Wagers</h1>
            <div>
                <div class="row align-items-center font-weight-bold d-flex flex-nowrap pb-2" id="odd-header">
                    <div class="col">
                        <h2>american_odds</h2>
                    </div>
                    <div class="col">
                        <h2>wager_amount</h2>
                    </div>
                    <div class="col">
                        <h2>amount_win</h2>
                    </div>
                </div>
                @foreach (Wager obj in active)
                {
                    <div class="row align-items-center font-weight-bold d-flex flex-nowrap pb-2" id="odd-header">
                        <div class="col">
                            @{
                                <h3>@obj.american_odds</h3>
                            }
                        </div>

                        <div class="col">
                            @{
                                <h3>@obj.wager_amount</h3>
                            }
                        </div>

                        <div class="col">
                            @{
                                <h3>$ @obj.amount_win</h3>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="analysis-section">
        <div class="container my-5">
            <h2 class="text-center mb-4">Analysis</h2>
        </div>
    </section>

    <section class="strategies-section">
        <div class="container my-5">
            <h2 class="text-center mb-4">Strategies</h2>
        </div>
    </section>

</body>
</html>
