@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeIndexStyle.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>

    <section class="hero-section">
        <h1>sports_betting_app</h1>
        <h2>Enhance your game now with strategy and analysis.</h2>
        <a href="#learn-more" class="btn btn-primary btn-lg">Learn More</a>
            <div class="row">
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Analysis
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            Access insights analysis to make informed bets.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Strategies
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            Discover and improve upon your past betting moves.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="coolAnimationBlock">
                        <div class="coolFormatContainer">
                            <ul class="coolAnimationList">
                                <li class="coolAnimationItem">
                                    <div class="coolAnimation_visibleItem">
                                        <div class="coolAnimation_title">
                                            Community
                                        </div>
                                    </div>
                                    <div class="coolAnimation_hiddenItem">
                                        <p class="coolAnimation_text">
                                            Engage with other sports betting winners and enthusiasts.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="event-section">
        <div class="container my-5">
            <h2 class="text-center mb-4">Upcoming Events</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="event-card">
                        <img src="event1.jpg" class="card-img-top" alt="Event 1">
                        <div class="card-body">
                            <h5 class="card-title">Football Match</h5>
                            <p class="card-text">Upcoming football match and get tips from experts.</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="event-card">
                        <img src="event2.jpg" class="card-img-top" alt="Event 2">
                        <div class="card-body">
                            <h5 class="card-title">Football Match</h5>
                            <p class="card-text">Upcoming football match and get tips from experts.</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news-section">
        <div class="container my-5">
            <h2 class="text-center mb-4">Latest News</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="news-card">
                        <img src="news1.jpg" class="card-img-top" alt="News 1">
                        <div class="card-body">
                            <h5 class="card-title">news title</h5>
                            <p class="card-text">news information.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-card">
                        <img src="news2.jpg" class="card-img-top" alt="News 2">
                        <div class="card-body">
                            <h5 class="card-title">news title</h5>
                            <p class="card-text">news information.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-card">
                        <img src="news3.jpg" class="card-img-top" alt="News 3">
                        <div class="card-body">
                            <h5 class="card-title">news title</h5>
                            <p class="card-text">news information.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>







