@model UserData
@{
    ViewData["Title"] = "User Registration Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script>$('input').on('blur keyup change', function () {
            if ($("#userForm").valid()) {
                $('#submitButton').prop('disabled', false);
            } else {
                $('#submitButton').prop('disabled', true);
            }

            if ($("#password").val().length > 1) {
                $('#confirmPassword').show();
            } else {
                $('#confirmPassword').hide();
            }
        });</script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="d-flex flex-row justify-content-evenly align-items-center">
        <h2>User Registration</h2>
        <a asp-controller="UserRegistration" asp-action="LogIn">Already have an account? Log in</a>
    </div>
    <form class="was-validated" asp-controller="UserRegistration" asp-action="Register" method="post" id="userForm"
          oninput='up2.setCustomValidity(up2.value != password.value ? "Passwords do not match." : "")'>
        <div class="form-group">
            <label for="userName">User Name</label>
            <input asp-for="UserName" class="form-control" id="userName" name="userName" required placeholder="Enter a username..." />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="email" name="email" required placeholder="Enter your email..." />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="password" name="password" pattern="(?=.*\d)(?=.*[!#$%^&*])(?=.*[a-z]).{8,20}" required placeholder="Enter a password..." />
            <div class="invalid-feedback">
                <ul>
                    <li>Password must be between 8 and 20 characters long</li>
                    <li>Must containe at least one number</li>
                    <li>Must containe at least one special character</li>
                </ul>
            </div>
        </div>
        <div class="form-group" id="confirmPassword" style="display:none">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="up2" placeholder="Retype password..." />
            <div class="invalid-feedback">
                Password must match
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input asp-for="firstName" class="form-control" id="firstName" name="firstName" required placeholder="Enter your firstname..." />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input asp-for="lastName" class="form-control" id="lastName" name="lastName" required placeholder="Enter your username..." />
        </div>
        <button type="submit" class="btn btn-primary submit-button" id="submitButton" disabled>Register</button>
    </form>
</div>