html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#betGrid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#betGridItem {
    display: flex;
    flex: 1 1 500px;
    padding: 15px 15px;
}

#away-team {
    text-align: center;
}

#home-team {
    text-align: center;
}

#odd-header {
    text-align: center;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    padding-right: 5px;
    font-size: 30px;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate( 0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate( 0.0deg)
    }
}

.name-navbar {
    font-size: 18px;
    font-weight: bold;
}

#name-container {
    padding-top: 5px;
#wagerButton {
    position: fixed;
    top: 50vh;
    left: 0px;
    transform: rotate(90deg);
}

.bet-item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.bet-item div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bet-item h2 {
    font-size: calc(8px + 0.9vw);
    font-weight: bold;
}

.bet-item h3 {
    font-size: calc(8px + 0.7vw);
}

.offcanvas-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.wager-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.wager-footer-odds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wager-footer-wrapper h3 {
    font-size: calc(8px + 0.9vw);
    font-weight: bold;
}

.wager-footer-wrapper h4 {
    font-size: calc(8px + 0.8vw);
}

.wager-footer-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.wager-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}